<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            This app is based on two main tasks: information retrieval and location estimation.
            You can upload an image as input or select one of the samples.
            Regarding location estimation, the top 10 predicted locations are displayed on the map.
            While for the information retrieval task, the top 10 visually similar human settlement entities from Wikidata are returned and presented in the right box.
            If you are interested in the current news taking place in any of the retrieved entities, just click the button on the bottom and enjoy the news!
          </p>
          <p>
            MLM-Geo is built on top of MLM dataset. For more details about the dataset <a href="http://cleopatra.ijs.si/goal-mlm/" target="_blank">click here</a>!
          </p>
        </div>
      </div>
    </div>
</div>