<!-- Tab links -->
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'text')">Text</button>
    <button class="tablinks" onclick="openTab(event, 'image')">Image</button>
    <button class="tablinks" onclick="openTab(event, 'upload')">Upload</button>
</div>

<!-- Text content -->
<div id="text" class="tabcontent active" style="display: block">
  <div style="display: flex;">
    <div class="col-sm-3" style="padding: 0;">
      <div class="list-group">
        {% for data in sample_data %}
          <a href="#" class="list-group-item list-group-item-action" style="padding: 5px; padding-left: 10px;">{{data['label']}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-9" style="padding: 0;">
      <form method="POST" action="/">
        <div class="form-group" style="margin-bottom: 0px;">
            <textarea class="form-control" cols="40" rows="10" id="query" placeholder="Enter text/summary.." style="min-height: 110px;"></textarea>
        </div>
      </form>
    </div>
  </div>
  <input id="submit_text" class="btn btn-primary" type="submit" value="Estimate Location">
</div>

<!-- Image content -->
<div id="image" class="tabcontent">
  <ul id="vertical">
    {% for data in sample_data %}
      <li data-thumb="{{data['thumbnail']}}">
        <img src="{{data['image']}}" />
      </li>
    {% endfor %}
  </ul>
  <input id="submit_image" class="btn btn-primary" type="submit" value="Estimate Location">
</div>

<!-- Upload content -->
<div id="upload" class="tabcontent">
  <p>Upload image.</p>
  <input id="submit_upload" class="btn btn-primary" type="submit" value="Estimate Location">
</div>